/** Heder Section **/
.header-basic {
	background-color: black;
	height: 80px;
	box-sizing: border-box;
}

.header-basic .header-logo {
  float: left;
  height: 100%;
  width: 12%;
}

.header-basic .header-logo img {
  height: 100%;
  width: 100%;
}

.header-basic .header-limiter {
	max-width: 1200px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	text-align: center;
	margin: 0 auto;
}

/* The header links */
.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-basic .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}

.header-basic .header-limiter nav a:hover {
	opacity: 1;
}

/* Portfolio Part: Comes immediately after Header */
#page-title {
  background: #464646;
  color: white;
  text-align: center;
}

/** Main Body: Includes description of all anime available on the web page **/
.wrap {
  background: #ff0000;
  color: #ffff00;
}

.wrap h1, .wrap p {
  text-align: justify;
  text-justify: inter-word;
}

.wrap .child {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrap button {
  background-color: #008CBA;
  color: white;
}

.wrap img {
  height: 300px;
  width: 100%;
}

.wrap a {
  font-family: 'Brush Script MT', cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 46.4px;
  color: #ffff00;
  text-decoration: none;
}

/** Hero Section **/
.hero_section {
  background: #ff0000;
  color: #ffff00;
  text-align: center;
}

.hero_section .grid_12 {
  margin-left: 0;
  margin-right: 0;
  width: 960px;
}

.hero_section img {
  position: relative;
  height: 674.22px;
  width: 960px;
  margin-bottom: 20px;
}

/** List of top anime **/
.top_anime {
  background: #ff0000;
  color: #ffff00;
}

.top_anime img {
  height: 506px;
  width: 100%;
}

/** Why to watch anime section **/
.watch_anime {
  background: #ff0000;
  color: #ffff00;
}

.watch_anime img {
  height: 424px;
  width: 100%;
}

/* Footer Part **/
.footer-basic-centered {
	background-color: black;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/** Some common css for font-family font-size etc., **/
.top_anime a, .top_anime ol, .watch_anime a, .watch_anime ol {
  font-family: 'Brush Script MT', cursive;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 46.4px;
  color: #ffff00;
  text-decoration: none;
}

.top_anime h1, .watch_anime h1, .hero_section h1, .wrap h1, #page-title h1 {
  font-family: 'Brush Script MT', cursive;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  line-height: 26.4px;
}

.wrap p, .hero_section p, #page-title p {
  font-family: 'Brush Script MT', cursive;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
  line-height: 20px;
}

/* padding for all blocks */
.hero_section, .top_anime, .watch_anime {
  padding: 25px 0;
}

.start {
  padding: 25px 0 0;
}

.end {
  padding: 0 0 25px;
}
